.orangy{
    background-color: #FAF6EC;
}

.dz-drag-hover{
    background: url('/static/img/baaaa.gif') no-repeat center;
}
#button-group{
    white-space: nowrap;
    overflow-x: scroll;
}
.comment-owner{
    width: 100px;
    display: inline-block;
}
.iso-item{
    display: block;
    width: 90%;
}
.pushable{
    background: #3d3e3a !important;
}
.bg{
    height: 1029px;
    background: url('/static/img/desc.png') no-repeat center;
    position: relative;
    top: -10px;
}
body{
    background-color: #ffffff;
}
.ui.card{
    display: inline-block;
}
.ui.vertical.segment{
    padding: 0;
}
#woman-bg{
    background-color: #ffffff;
    height: 500px;
    background: url('/static/img/woman.png') no-repeat;
    -ms-background-position-y: -70px;
    background-position-y: -70px;
    background-size: cover;
}
.ui.card{
    margin: 5px;
}
.center-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -30px;
    right: 6px;
}

#target{
    position: absolute;
    width: 350px;
    top: 230px;
    left: 85px;
    display: inline-block;
}
#target-img{
    width: 100%;
}
#drop-text{
    display: inline-block;
    position: absolute;
    left: 113px;
    top: 70px;
    color: #ffffff;
}
#fileupload{
    position: absolute;
    height: 0;
    width: 0;
    top: 0;
}
.top-logo{
    position: absolute;
    height: 60px;
    left: 150px;
    z-index: 999;
}