{% extends "main.html" %}
{% load staticfiles %}
{% block additional_heading %}
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/pdf.js' %}"></script>
        <script src="{% static 'js/pdf.worker.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="ui center aligned segment">
        <div class="ui header">
            <h2>{{ presented.name }}</h2>
        </div>
        <div class="ui grid">
            <div class="ui row">
                <div class="ui left aligned four wide column" style="background-color: blue">

                </div>

                <div class="ui center aligned eight wide column">
                    <canvas id="the-canvas" style="border:1px solid black"></canvas>

                </div>
                  <div>
    <button id="prev" disabled>Previous</button>
    <button id="next" disabled>Next</button>
    &nbsp; &nbsp;
    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
  </div>
            </div>
        <div class="ui row">
            <div class="ui four wide column"></div>
            <div class="ui eight wide column compact segment">
                owner: <a href="{% url 'profile' owner_profile.pk %}">{{ owner.username }}</a><br/>
                views: {{ presented.view_count }}

            </div>
        </div>
            <div class="ui row">
                <div class="ui two wide column">

                </div>

                <div class="ui twelve wide column">
                    <div class="ui small header">
                        <h3>
                            Comments
                        </h3>
                        <div id="button-group">
                            <div class="ui button" onclick="filterPressed(0)">All</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="ui row">
                <div class="ui four wide column">

                </div>
                <div class="ui nine wide column">
                    {% if user.is_authenticated  %}
                        <div class="ui input" style="width: 440px">
                            <input type="text" placeholder="Leave a comment" id="comment-text">
                        </div>
                        <span style="line-height: 26px">on</span>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="slide" id="slide">
                            <div class="default text">Slide</div>
                            <i class="dropdown icon"></i>
                            <div class="menu" id="slide-dropdown-values">
                                <div class="item" data-value="0">General</div>
                            </div>
                        </div>
                        <div class="ui button" id="send-comment-button">Send</div>
                    {% else %}
                        <div class="ui twelve wide column">
                            If you want to leave a comment, please <div class="ui labeled icon button" id="login-comment-button">
                            <i class="sign in icon"></i>
                            Sign In
                        </div>
                        </div>
                        <script type="text/javascript">
                            $('#login-comment-button').click(function(){
                                $('#login-top-button').click();
                            });
                        </script>
                    {% endif %}

                    <div class="ui segment" id="comments">

                        {% for comment in comments %}

                            <div class="ui vertical segment iso-item">
                                <div class="comment-owner"> <b>{{ comment.owner }}</b></div>
                                <span>{{ comment.text }}</span>
                                <p class="slide-p" hidden="hidden">{{ comment.slide }}</p>

                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        pdfFile = "{{ presented.file }}";
        $commentContainer = $('#comments');
        function prepareCommentButtons(pageCount){
            for(i=1; i<=pageCount;i++){
                var container = $('#button-group');
                $('<div/>',{
                    class: 'ui button',
                    text: ''+i,
                    onclick: 'filterPressed('+i+')'
                }).appendTo(container);
            }
        }
        function pdfReady(pdfObj){
            prepareCommentButtons(pdfObj.numPages);
            var drop=$('#slide-dropdown-values');
            for(i=1;i<=pdfObj.numPages;i++){
                $('<div/>',{
                    class:'item',
                    'text': ''+i,
                    'data-value':''+i

                }).appendTo(drop);
            }
            $('.dropdown').dropdown();
        }
        $('body').ready(function(){

            $('#send-comment-button').click(function(){
                var textBox = $('#comment-text');
                $.post( "{% url 'comment' %}",{'presented':"{{ presented.pk }}", 'text':textBox.val(), 'slide':$('#slide').val()}, success=function(e){
                    if(e=="true"){
                        var textBox = $('#comment-text');
                        addComment(textBox.val(), $('#slide').val());
                        textBox.val("");
                        textBox.prop('disabled', false);
                        var button = $('#send-comment-button');
                        button.removeClass('loading');
                        button.removeClass('disabled');
                    }
                } );
                textBox.prop('disabled', true);
                $(this).addClass('loading');
                $(this).addClass('disabled');
            });
            // init
            $commentContainer.isotope({
                // options
                itemSelector: '.iso-item',
                layoutMode: 'vertical'
            });
        });
        function addComment(text, slide){
            var vertical = $('<div/>',{
                class: 'ui vertical segment iso-item'
            });
            var owner = $('<div/>',{
                class: 'comment-owner'
            }).appendTo(vertical);
            $('<b/>',{
                text: "{{ user.username }}"
            }).appendTo(owner);
            $('<span/>',{
                text: text
            }).appendTo(vertical);
            $('<p/>',{
                hidden: "hidden",
                class: 'slide-p',
                text: slide
            }).appendTo(vertical);
            $commentContainer.isotope( 'insert', vertical );
            $('html, body').animate({
                scrollTop: vertical.offset().top
            }, 1000);
        }
        function filterPressed(button){
            $commentContainer.isotope({filter:function() {
                if(button==0){
                    return true;
                }
                var number = $(this).find('.slide-p').text();
                console.log(number);
                return number==button;
            } });
        }
    </script>

    <script type="text/javascript">
          // Vars for pdf rendering
                function getByID(id) {
          return document.getElementById(id);
      }

      var pdfDoc = null,
        pageNum = 1,
        pageRendering = false,
        pageNumPending = null,
        scale = 0.8,
        canvas = document.getElementById('the-canvas'),
        ctx = canvas.getContext('2d');

      var A = [['action','pagenum','time']];
    /**
     * Get page info from document, resize canvas accordingly, and render page.
     * @param num Page number.
     */
    function renderPage(num) {
      pageRendering = true;
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        var renderTask = page.render(renderContext);

        // Wait for rendering to finish
        renderTask.promise.then(function () {
          pageRendering = false;
          if (pageNumPending !== null) {
            // New page rendering is pending
            renderPage(pageNumPending);
            pageNumPending = null;
          }
        });
      });

      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
      //__log('__Page rendered')
    }

    /**
     * If another page rendering in progress, waits until the rendering is
     * finised. Otherwise, executes rendering immediately.
     */
    function queueRenderPage(num) {
      if (pageRendering) {
        pageNumPending = num;
      } else {
        renderPage(num);
      }
      //__log('__Queue render page');
    }

    /**
     * Displays previous page.
     */
    function onPrevPage() {
      if (pageNum <= 1) {
        return;
      }
      pageNum--;
      queueRenderPage(pageNum);

      var tmpTime = myTimer();
      A.push(['p', pageNum, tmpTime]);
      __log('Prev Page clicked: @pagenum ' + pageNum.toString() + ' ' + tmpTime);
    }
    document.getElementById('prev').addEventListener('click', onPrevPage);

    /**
     * Displays next page.
     */
    function onNextPage() {
      if (pageNum >= pdfDoc.numPages) {
        return;
      }
      pageNum++;
      queueRenderPage(pageNum);

      var tmpTime = myTimer();
      A.push(['n', pageNum, tmpTime]);
      __log('Next Page clicked: @pagenum ' + pageNum.toString() + ' ' + tmpTime);
    }
    document.getElementById('next').addEventListener('click', onNextPage);

    /**
     * Asynchronously downloads PDF.
     */
    PDFJS.getDocument(document.location.origin+"/"+pdfFile).then(function (pdfDoc_) {
      pdfDoc = pdfDoc_;
        pdfReady(pdfDoc)
      document.getElementById('page_count').textContent = pdfDoc.numPages;

      // Initial/first page rendering
      renderPage(pageNum);

      audio.onplay = function() {

        // initialPage = A[1][1];
        // initialInterval = A[2][2] - A[1][2];
        // var t1 = setTimeout(function(){renderPage(initialPage);},initialInterval);

        // for(var i = 1, l = A.length; i<l; ++i){
        //   //csvRows.push(A[i].join(','));
        //   //alert('Bu ne: ' + A[i][1] + '--' + i);
        //   tmpPage = A[i][1];
        //   tmpInterval = A[i+1][2] - A[i][2];
        //   var t1 = setTimeout(function(){renderPage(tmpPage);},tmpInterval);
        // }

        //audio.currentTime = 0;
        var i = 1;                     //  set your counter to 1
        var l = A.length;
        function myLoop () {           //  create a loop function
          tmpPage = A[i][1];
          tmpInterval = A[i+1][2] - A[i][2];
           setTimeout(function () {    //  call a 3s setTimeout when the loop is called
              renderPage(tmpPage);          //  your code here
              document.getElementById('page_num').textContent = tmpPage;
              ++i;                     //  increment the counter
              if (i < l) {            //  if the counter < 10, call the loop function
                 myLoop();             //  ..  again which will trigger another
              }                        //  ..  setTimeout()
           }, tmpInterval-100)        // goz karari 100 cikardim.
        }

        myLoop();

      }
    });
    </script>

{% endblock %}