{% extends "main.html" %}
{% load staticfiles %}
{% block additional_heading %}
    <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload.js'%}"></script>
{% endblock %}
{% block body %}
<div class="ui center aligned segment">
    <img src="{% static 'img/baaaa.gif' %}" id="drop-gif" style="opacity: 0">
    <form id="fileupload" name="files[]" data-url="{% url 'presentation-upload' %}" style="height: 500px" multiple>
  {% csrf_token %}
</form>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'text',
        done: function (e, data) {
            location.replace("{% url 'new' 666 %}".replace("666", data.result));
        }
    });
    $('#fileupload').bind('fileuploaddragover', function (e) {$('#drop-gif').fadeTo(100,1)});
});
</script>
</div>
    <div class="ui segment">
    <div class="ui centered header">
        <h3>Latest Presenteds</h3>
    </div>
      {% for presentation in presentations %}
    <a class="ui card" href="{% url 'detail' presentation.id %}">
          <div class="content">
            <div class="header">{{ presentation.name }}</div>
            <div class="meta">
              <span class="category">{{ presentation.category }}</span>
            </div>
          </div>
          <div class="extra content">
            <i class="comments icon"></i>{{ presentation.comment_set.count }}
          </div>
</a>
{% endfor %}
    </div>

{% endblock %}