{% extends "main.html" %}
{% load staticfiles %}
{% block additional_heading %}
    <script src="{% static 'js/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/jquery.fileupload.js'%}"></script>
{% endblock %}
{% block body %}
    <div style="background-color: #50504c;height: 40px"></div>
    <div id="woman-bg">
        <img src="{% static 'img/baaaa.gif' %}" id="drop-gif" style="opacity: 0;position: relative;top: -10px;">
        <div id="target">
            <img src="{% static 'img/target.png' %}" id="target-img">
            <div id="drop-text">Select or Drop a pdf</div>

        </div>
        <input id="fileupload" type="file" name="files[]" data-url="{% url 'presentation-upload' %}" multiple>
            {% csrf_token %}
        </input>
    </div>
    <div style="background-color: #50504c;height: 40px;position: relative;top:-10px"></div>
    <div class="bg">
        <img src="{% static 'img/logo.png' %}" class="center-logo">
    </div>
    <div>
        <div class="ui centered header">
            <h3>Latest Presenteds</h3>
        </div>
        {% for presentation in presentations %}
            <a class="ui card" href="{% url 'detail' presentation.id %}">
                <div class="image">
                    <img src="{% static 'img/card_bg.png'%}">
                </div>
                <div class="content">
                    <div class="header">{{ presentation.name }}</div>
                    <div class="meta">
                        <span class="category">{{ presentation.category }}</span>
                    </div>
                </div>
                <div class="extra content">
                    <i class="comments icon"></i>{{ presentation.comment_set.count }}
                </div>
            </a>
        {% endfor %}
    </div>
    <script>
        $(function () {
            $('body').removeClass('pushable');
            var uploader = $('#fileupload');
            uploader.fileupload({
                dataType: 'text',
                done: function (e, data) {
                    location.replace("{% url 'new' 666 %}".replace("666", data.result));
                }
            });
            $('#target').click(function(){
                $('#fileupload').click();
            })
            uploader.bind('fileuploaddragover', function (e) {$('#drop-gif').fadeTo(100,1)});
            uploader.on('dragleave', function (e) {
                console.log("sd")
                $('#drop-gif').fadeTo(100,0)});
        });
    </script>
{% endblock %}