{% extends "main.html" %}
{% load staticfiles %}
{% block additional_heading %}
    <script src=" {% static 'js/dropzone.js'%}"></script>
{% endblock %}
{% block body %}
<div class="ui center aligned segment" id="drop">
    <form action="/file-upload" class="dropzone dz-clickable" style="height: 500px">
  <div class="fallback">
    <input name="file" type="file" multiple />
  </div>
</form>
</div>
    <div class="ui segment">
    <div class="ui centered header">
        <h3>Latest Presenteds</h3>
    </div>
      {% for presentation in presentations %}
    <a class="ui card" href="{% url 'detail' presentation.id %}">
          <div class="content">
            <div class="header">{{ presentation.name }}</div>
            <div class="meta">
              <span class="category">{{ presentation.category }}</span>
            </div>
          </div>
          <div class="extra content">
            <i class="comments icon"></i>{{ presentation.comment_set.count }}
          </div>
</a>
{% endfor %}
    </div>
<script type="text/javascript">
Dropzone.options.drop = {
  paramName: "file", // The name that will be used to transfer the file
  maxFilesize: 5, // MB
  url: '/file-upload',
  init: function() {
    this.on("dragstart", function(file) { alert("Added file."); });
  }
};
$(function() {
  // Now that the DOM is fully loaded, create the dropzone, and setup the
  // event listeners

  var drop = new Dropzone("#drop");

  drop.on("dragstart", function(file) {
    alert("asdf")
  });

})
</script>

{% endblock %}