{% extends "main.html" %}
{% block body %}
<div class="ui segment">
  <h2 class="ui header">
    Doggie Treat
    <div class="sub header">$4.99 for 100</div>
  </h2>
  <div class="ui primary button">Add to cart</div>
  <p>Doggie treats are good for all times of the year. Proven to be eaten by 99.9% of all dogs worldwide.</p>
  <h4 class="ui horizontal header divider">
    <i class="bar chart icon"></i>
    Specifications
  </h4>
  <table class="ui definition table">
    <tbody>
      <tr>
        <td class="two wide column">Size</td>
        <td>1" x 2"</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>6 ounces</td>
      </tr>
      <tr>
        <td>Color</td>
        <td>Yellowish</td>
      </tr>
      <tr>
        <td>Odor</td>
        <td>Not Much Usually</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}