{% extends "main.html" %}
{% load staticfiles %}
{% block body %}
<div class="ui center aligned segment">
  <h2 class="ui header">
    {{ profile_user.username}}
    <div class="sub header">{{ user_profile.title }}</div>
  </h2>
  <h4 class="ui horizontal header divider">
    <i class="folder outline icon"></i>
    Presenteds
  </h4>
  {% for presentation in presentations %}
    <a class="ui card" href="{% url 'detail' presentation.id %}">
    <div class="image">
        <img src="{% static 'img/card_bg.png'%}">
      </div>
          <div class="content">
            <div class="header">{{ presentation.name }}</div>
            <div class="meta">
              <span class="category">{{ presentation.category }}</span>
            </div>
          </div>
          <div class="extra content">
            <i class="comments icon"></i>{{ presentation.comment_set.count }}
          </div>
</a>
{% endfor %}
</div>
{% endblock %}